<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content = "width=device-width, initial-scale=1,maximun-scale=1,user-scal=no">
    <title>Registration</title>
    <h1>Registration</h1>
    <link href="../static/css/stylesheet.css" rel="stylesheet">
</head>
<body>
    <table class="registration">

        <tr>
            <th>First Name:</th>
            <th><input type="text" placeholder="Your First Name" name="FirstName"></th>
        </tr>

        <tr>
            <th>Last Name:</th>
            <th><input type="text" placeholder="Your Last Name" name="LastName"></th>
        </tr>

        <tr>
            <th>Date of Birth:</th>
            <th><input type="date" name="BOD"></th>
        </tr>
        <tr>
            <th>Email:</th>
            <th><input type="text" placeholder="Your Email Address" name="Email"></th>
        </tr>
        <tr>
            <th>Phone:</th>
            <th><input type="number" placeholder="Your Phone number" name="Phone"></th>
        </tr>
        <tr>
            <th>Password:</th>
            <th><input type="password" placeholder="Enter Password" name="password"></th>
        </tr>
        <tr>
            <th>Repeat Password:</th>
            <th><input type="password" placeholder="Enter Password Again" name="password"></th>
        </tr>      

    </table>

    <button name="submit" class="action_btn submit" type="submit" value="Save">Submit</button>
    <button name="cancel" class="action_btn cancel" type="submit" value="Cancel">Cancel</button>
        
        
</body>
</html>